@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

body {
  background-color: bisque;
  font-family: "Roboto", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: orange;
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  background-size: cover;
  border-radius: 30px;
  border: 1px solid beige;
  margin: 10px;
  cursor: pointer;
}

.card-icon {
  width: 60px;
  height: 60px;
  background-size: cover;
}

.active-card {
  background-image: url("../public/icons/pause.svg") !important;
}

#card-summer {
  background-image: url("../public/pics/summer-bg.jpg");
}

#card-summer-icon {
  background-image: url("../public/icons/sun.svg");
}

#card-rain {
  background-image: url("../public/pics/rainy-bg.jpg");
}

#card-rain-icon {
  background-image: url("../public/icons/cloud-rain.svg");
}

#card-winter {
  background-image: url("../public/pics/winter-bg.jpg");
}

#card-winter-icon {
  background-image: url("../public/icons/cloud-snow.svg");
}

#volume-slider {
  cursor: pointer;
}
